:root {
    --ff-main: 'Raleway Dots', sans-serif;
    --ff-accent: 'Palette Mosaic', cursive;
    --pink: rgb(250, 2, 217);
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-accent);
    margin: 0 auto;
    
}

.background__div {
    background-image: url("/Users/casvalkyriespicer/Documents/GitHub/animated-shape/pics/retro-paper.jpeg");
    background-color: rgb(9, 207, 241);
    /*background-blend-mode: multiply;*/
    opacity: .8;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-blend-mode: screen;
    background-position: 50% 10%;
}

.cube__container {
    perspective: 600px;
}

.cube__container {
    width: 5em;
    height: 5em;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
}

.cube__face {
    position: absolute;
    width: 4em;
    height: 4em;
    top: 10em;
    left: 15em;
  }

.cube__face__1  { 
    background: var(--pink); 
    opacity: 0.75;  
    transform: rotateY(0deg) translateZ(100px); 
}

.cube__face__2 {  
    background: var(--pink);   
    opacity: 0.75; 
    transform: rotateY(180deg) translateZ(100px);
}

.cube__face__3  { 
    background: var(--pink);    
    opacity: 0.75; 
    transform: rotateY( 90deg) translateZ(100px); 
}

.cube__face__4  {  
    background: var(--pink);    
    opacity: 0.75; 
    transform: rotateY(-90deg) translateZ(100px); 
}
.cube__face__5   {  
    background: var(--pink);    
    opacity: 0.75; 
    transform: rotateX( 90deg) translateZ(100px);
}
.cube__face__6 {  
    background: var(--pink);   
    opacity: 0.75; 
    transform: rotateX(-90deg) translateZ(100px); 
} 